<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Create A Project</title>


<!-- Custom CSS -->
<link rel="stylesheet" th:href="@{/css/create-a-project-style.css}"
	href="/css/create-a-project-style.css.css" type="text/css" />

</head>

<body>
	<ul>
		<li><a class="active" href="#home">Home</a></li>
		<li><a href="/">Projects</a></li>
		<li><a href="/user">Account</a></li>
		<li><a href="/project/create">Create A Project</a></li>
	</ul>
	
	<div class="main">

		<h1>Create A Project</h1>
		<div id="form-container">
			<form method="post" th:action="@{/project}" th:object="${project}">
				<label for="projectName">Project Name: </label> 
				<input type="text" id="projectName" 
				name="projectName" class="form-item" 
				placeholder="Please Enter The Project Name" 
				th:field="*{name}"/> 
				<label for="projectDescription">Project Description </label>
				<textarea class="form-item" placeholder="Please Enter The Project Description"
				th:field="*{info}">
				</textarea>
				<label for="projectAmmount">Project Ammount</label> 
				<br>
				<input type="number" id="projectAmmount" class="form-item" 
				name="projectAmmount" min=10 placeholder = "ammount" th:field="*{goal}" />
		
				<input type = "submit" text = "submit"/>

			</form>

		</div>

	</div>
</body>
</html>