<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<title>Crowd Funder - Create A Project</title>

<!-- Bootstrap core CSS -->
<link href="webjars/bootstrap/3.3.6/css/bootstrap.min.css"
	rel="stylesheet">


</head>

<body>

	<div class="container">
		<div class="row text-center">
			<h2>Create A Project</h2>
		</div>

		<div class="row">
			<form method="post">

				<div class="input-group">
					<input class="form-control" type="text" placeholder="Project Name" />
				</div>

				<div class="input-group mb-3">
					<div class="input-group-prepend">
						<span class="input-group-text">$</span>
					</div>
					<input type="text" class="form-control"
						aria-label="Amount (to the nearest dollar)">
					<div class="input-group-append">
						<span class="input-group-text">.00</span>
					</div>
				</div>

				<div class="input-group">
					<textarea class="form-control" placeholder="Project Description"></textarea>
				</div>

			</form>
		</div>
	</div>


	<!-- Bootstrap core JavaScript -->
	<script src="webjars/jquery/1.9.1/jquery.min.js"></script>
	<script src="webjars/bootstrap/3.3.6/js/bootstrap.min.js"></script>

</body>

</html>