<!DOCTYPE html>
<html lang="en" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Crowd-Funder Sign Up</title>
<link href="webjars/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="/css/sign-in-page-style.css" type="text/css" />

</head>
<body>
	<!-- Navigation -->
	<ul>
		<li><a href="/">Projects</a></li>
		<li><a href="/user">Account</a></li>
		<li><a href="/create/project">Create A Project</a></li>
	</ul>
	<div class="container">
		<div class="row">
			<h3 class = "text-center">Sign In</h3>
			<div class="error" th:if="${param.error}">Invalid Email Or Password.</div>
			<div class="error" th:if="${param.logout}">You have been logged out.</div>
			<form class="login-form" method="post" th:action="@{login}">
				<div class = "form-group">
					<input  type="email" name="email" class = "form-control"/>
				</div>
				
				<div class = "form-group">
					<input type="password" name="password" class = "form-control"/>
				</div>
				
				<div class = "form-group">
					<input type="submit" value="Sign In" />
				</div>
				
				<div class = "form-group">
					<button type="button" class="btn btn-outline-light" onclick="window.location.href='/signup'">Sign Up</button>
					
				</div>
				
			</form>
		</div>
	</div>
	<script src="webjars/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</body>
</html>