<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<!--Project Name As Title-->
<title></title>
</head>
<link rel="stylesheet" th:href="@{/css/viewaporject-style.css}"
	href="/css/nav-bar-style.css" type="text/css" />
	
<link rel="stylesheet" th:href="@{/css/project-view-style.css}"
	href="/css/project-view.css" type="text/css" />
<body>

	<!-- Navigation -->
	<ul>
		<li><a class="active" href="#home">Home</a></li>
		<li><a href="/">Projects</a></li>
		<li><a href="#contact">Contact</a></li>
		<li><a href="/project/create">Create A Project</a></li>
	</ul>
	
	<div class="projects" th:object="${project}">
		<div class="project-container">
		
			<div class="project-info-continer">
				<h2 th:text="*{name}" id = "center">
					<!--  Title Of Project -->
				</h2>
				<hr>
				<p th:text="*{info}">
					<!-- Descritption For Project -->
				</p>
				<hr>
			</div>

			<div class="project-goal-container">
				<h3 th:text="*{goal}">Goal</h3>
				<span>Current Goal</span>
				<hr>
				<h3 th:text="*{currentAmmount}">Current Raised</h3>
				<span>Amount Pledged</span>
				<hr>
				<h3>Users Pledged</h3>
				<span>Amount Of Pledges</span>
				<br>
				<hr>
				<form method="post" th:action="@{/pledge}" th:object="${pledge}">
					 <input type="hidden" th:field="*{project}" value="${project}"/>
					<input type = "number" min = 10 placeholder = "Ammount To Pledge" th:field="*{pledged}"/>
					<input type = "submit" text = "submit" value = "Pledge"/>    
				</form>
			</div>
		</div>
	</div>
</body>

</html>